body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #e8e8e8;
}

img {
    border-radius: 50%;
    width: 200px;
}

#card {
    width: 80%;
    margin: auto;
    background-color: #36d189;
    border-radius: 15px;
    height: 50px;
    border-radius: 30px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

#card h3 {
    position: relative;
    top: 30%;
}

span {
    color: #36d189;
}
