body {
  background-color: black;
}

#mainFrame {
  position: relative;
  background: #FFFFFF;
}

#logoTitle {
  position: absolute;
width: 152px;
height: 88px;
left: 5%;
top: 5%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;
}

#splashImg {
  position: relative;
  width: 100%;
left: 0px;
top: 0px;

background: url(splash.jpg);
}
